body {
    background-color: #E5E5E5;
    font-family: 'Open Sans', sans-serif;
}

header {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;


    background-color: #FFFFFF;
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);

    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 90px;
}

#main_filter {
    min-width: 581px;
    margin: 23px 0 23px 33px;
}




#main_logo {
    margin: 20px;
}

.date_span {
    margin-right: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

}

.time_span {
    color: #B0B0B0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

}

#main_body {
    margin: 20px;
}

#main_name {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 14px;
}

thead tr th {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

#table_data {
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}


.change_customer {
    margin-right: 32px;
    cursor: pointer;
}

.change_customer::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3e%3cpath d='M0 10.5V13H2.5L9.87333 5.62662L7.37333 3.12662L0 10.5ZM11.8067 3.69329C12.0667 3.43329 12.0667 3.01329 11.8067 2.75329L10.2467 1.19329C9.98667 0.933291 9.56667 0.933291 9.30667 1.19329L8.08667 2.41329L10.5867 4.91329L11.8067 3.69329Z' fill='%239873FF'/%3e%3c/svg%3e");
    width: 20px;
    height: 20px;
    left: 0;
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.delete_customer {
    cursor: pointer;
}

.delete_customer::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cg opacity='0.7' clip-path='url(%23clip0_224_1352)'%3e%3cpath d='M8 2C4.682 2 2 4.682 2 8C2 11.318 4.682 14 8 14C11.318 14 14 11.318 14 8C14 4.682 11.318 2 8 2ZM8 12.8C5.354 12.8 3.2 10.646 3.2 8C3.2 5.354 5.354 3.2 8 3.2C10.646 3.2 12.8 5.354 12.8 8C12.8 10.646 10.646 12.8 8 12.8ZM10.154 5L8 7.154L5.846 5L5 5.846L7.154 8L5 10.154L5.846 11L8 8.846L10.154 11L11 10.154L8.846 8L11 5.846L10.154 5Z' fill='%23F06A4D'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_224_1352'%3e%3crect width='16' height='16' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    width: 20px;
    height: 20px;
    left: 0;
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
}



.table td,
.table th {
    padding: 9px;
}

.mob_ico {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cg opacity='0.7'%3e%3ccircle cx='8' cy='8' r='8' fill='%239873FF'/%3e%3cpath d='M11.56 9.50222C11.0133 9.50222 10.4844 9.41333 9.99111 9.25333C9.83556 9.2 9.66222 9.24 9.54222 9.36L8.84444 10.2356C7.58667 9.63556 6.40889 8.50222 5.78222 7.2L6.64889 6.46222C6.76889 6.33778 6.80444 6.16444 6.75556 6.00889C6.59111 5.51556 6.50667 4.98667 6.50667 4.44C6.50667 4.2 6.30667 4 6.06667 4H4.52889C4.28889 4 4 4.10667 4 4.44C4 8.56889 7.43556 12 11.56 12C11.8756 12 12 11.72 12 11.4756V9.94222C12 9.70222 11.8 9.50222 11.56 9.50222Z' fill='white'/%3e%3c/g%3e%3c/svg%3e");
}

.mob_ico:hover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3ccircle cx='8' cy='8' r='8' fill='%239873FF'/%3e%3cpath d='M11.56 9.50222C11.0133 9.50222 10.4844 9.41333 9.99111 9.25333C9.83556 9.2 9.66222 9.24 9.54222 9.36L8.84444 10.2356C7.58667 9.63556 6.40889 8.50222 5.78222 7.2L6.64889 6.46222C6.76889 6.33778 6.80444 6.16444 6.75556 6.00889C6.59111 5.51556 6.50667 4.98667 6.50667 4.44C6.50667 4.2 6.30667 4 6.06667 4H4.52889C4.28889 4 4 4.10667 4 4.44C4 8.56889 7.43556 12 11.56 12C11.8756 12 12 11.72 12 11.4756V9.94222C12 9.70222 11.8 9.50222 11.56 9.50222Z' fill='white'/%3e%3c/svg%3e");
}


.email_ico {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath opacity='0.7' fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM4 5.75C4 5.3375 4.36 5 4.8 5H11.2C11.64 5 12 5.3375 12 5.75V10.25C12 10.6625 11.64 11 11.2 11H4.8C4.36 11 4 10.6625 4 10.25V5.75ZM8.424 8.1275L11.04 6.59375C11.14 6.53375 11.2 6.4325 11.2 6.32375C11.2 6.0725 10.908 5.9225 10.68 6.05375L8 7.625L5.32 6.05375C5.092 5.9225 4.8 6.0725 4.8 6.32375C4.8 6.4325 4.86 6.53375 4.96 6.59375L7.576 8.1275C7.836 8.28125 8.164 8.28125 8.424 8.1275Z' fill='%239873FF'/%3e%3c/svg%3e");

}

.email_ico:hover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath opacity='1' fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM4 5.75C4 5.3375 4.36 5 4.8 5H11.2C11.64 5 12 5.3375 12 5.75V10.25C12 10.6625 11.64 11 11.2 11H4.8C4.36 11 4 10.6625 4 10.25V5.75ZM8.424 8.1275L11.04 6.59375C11.14 6.53375 11.2 6.4325 11.2 6.32375C11.2 6.0725 10.908 5.9225 10.68 6.05375L8 7.625L5.32 6.05375C5.092 5.9225 4.8 6.0725 4.8 6.32375C4.8 6.4325 4.86 6.53375 4.96 6.59375L7.576 8.1275C7.836 8.28125 8.164 8.28125 8.424 8.1275Z' fill='%239873FF'/%3e%3c/svg%3e");
}



.facebook_ico {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cg opacity='0.7'%3e%3cpath d='M7.99999 0C3.6 0 0 3.60643 0 8.04819C0 12.0643 2.928 15.3976 6.75199 16V10.3775H4.71999V8.04819H6.75199V6.27309C6.75199 4.25703 7.94399 3.14859 9.77599 3.14859C10.648 3.14859 11.56 3.30121 11.56 3.30121V5.28514H10.552C9.55999 5.28514 9.24799 5.90362 9.24799 6.53815V8.04819H11.472L11.112 10.3775H9.24799V16C11.1331 15.7011 12.8497 14.7354 14.0879 13.2772C15.3261 11.819 16.0043 9.96437 16 8.04819C16 3.60643 12.4 0 7.99999 0Z' fill='%239873FF'/%3e%3c/g%3e%3c/svg%3e");

}

.facebook_ico:hover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cg opacity='1'%3e%3cpath d='M7.99999 0C3.6 0 0 3.60643 0 8.04819C0 12.0643 2.928 15.3976 6.75199 16V10.3775H4.71999V8.04819H6.75199V6.27309C6.75199 4.25703 7.94399 3.14859 9.77599 3.14859C10.648 3.14859 11.56 3.30121 11.56 3.30121V5.28514H10.552C9.55999 5.28514 9.24799 5.90362 9.24799 6.53815V8.04819H11.472L11.112 10.3775H9.24799V16C11.1331 15.7011 12.8497 14.7354 14.0879 13.2772C15.3261 11.819 16.0043 9.96437 16 8.04819C16 3.60643 12.4 0 7.99999 0Z' fill='%239873FF'/%3e%3c/g%3e%3c/svg%3e");
}



.vk_ico {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cg opacity='0.7'%3e%3cpath d='M8 0C3.58187 0 0 3.58171 0 8C0 12.4183 3.58187 16 8 16C12.4181 16 16 12.4183 16 8C16 3.58171 12.4181 0 8 0ZM12.058 8.86523C12.4309 9.22942 12.8254 9.57217 13.1601 9.97402C13.3084 10.1518 13.4482 10.3356 13.5546 10.5423C13.7065 10.8371 13.5693 11.1604 13.3055 11.1779L11.6665 11.1776C11.2432 11.2126 10.9064 11.0419 10.6224 10.7525C10.3957 10.5219 10.1853 10.2755 9.96698 10.037C9.87777 9.93915 9.78382 9.847 9.67186 9.77449C9.44843 9.62914 9.2543 9.67366 9.1263 9.90707C8.99585 10.1446 8.96606 10.4078 8.95362 10.6721C8.93577 11.0586 8.81923 11.1596 8.43147 11.1777C7.60291 11.2165 6.81674 11.0908 6.08606 10.6731C5.44147 10.3047 4.94257 9.78463 4.50783 9.19587C3.66126 8.04812 3.01291 6.78842 2.43036 5.49254C2.29925 5.2007 2.39517 5.04454 2.71714 5.03849C3.25205 5.02817 3.78697 5.02948 4.32188 5.03799C4.53958 5.04143 4.68362 5.166 4.76726 5.37142C5.05633 6.08262 5.4107 6.75928 5.85477 7.38684C5.97311 7.55396 6.09391 7.72059 6.26594 7.83861C6.45582 7.9689 6.60051 7.92585 6.69005 7.71388C6.74734 7.57917 6.77205 7.43513 6.78449 7.29076C6.82705 6.79628 6.83212 6.30195 6.75847 5.80943C6.71263 5.50122 6.53929 5.30218 6.23206 5.24391C6.07558 5.21428 6.0985 5.15634 6.17461 5.06697C6.3067 4.91245 6.43045 4.81686 6.67777 4.81686L8.52951 4.81653C8.82136 4.87382 8.88683 5.00477 8.92645 5.29874L8.92808 7.35656C8.92464 7.47032 8.98521 7.80751 9.18948 7.88198C9.35317 7.936 9.4612 7.80473 9.55908 7.70112C10.0032 7.22987 10.3195 6.67368 10.6029 6.09801C10.7279 5.84413 10.8358 5.58142 10.9406 5.31822C11.0185 5.1236 11.1396 5.02785 11.3593 5.03112L13.1424 5.03325C13.195 5.03325 13.2483 5.03374 13.3004 5.04274C13.6009 5.09414 13.6832 5.22345 13.5903 5.5166C13.4439 5.97721 13.1596 6.36088 12.8817 6.74553C12.5838 7.15736 12.2661 7.55478 11.9711 7.96841C11.7001 8.34652 11.7215 8.53688 12.058 8.86523Z' fill='%239873FF'/%3e%3c/g%3e%3c/svg%3e");

}

.vk_ico:hover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cg opacity='1'%3e%3cpath d='M8 0C3.58187 0 0 3.58171 0 8C0 12.4183 3.58187 16 8 16C12.4181 16 16 12.4183 16 8C16 3.58171 12.4181 0 8 0ZM12.058 8.86523C12.4309 9.22942 12.8254 9.57217 13.1601 9.97402C13.3084 10.1518 13.4482 10.3356 13.5546 10.5423C13.7065 10.8371 13.5693 11.1604 13.3055 11.1779L11.6665 11.1776C11.2432 11.2126 10.9064 11.0419 10.6224 10.7525C10.3957 10.5219 10.1853 10.2755 9.96698 10.037C9.87777 9.93915 9.78382 9.847 9.67186 9.77449C9.44843 9.62914 9.2543 9.67366 9.1263 9.90707C8.99585 10.1446 8.96606 10.4078 8.95362 10.6721C8.93577 11.0586 8.81923 11.1596 8.43147 11.1777C7.60291 11.2165 6.81674 11.0908 6.08606 10.6731C5.44147 10.3047 4.94257 9.78463 4.50783 9.19587C3.66126 8.04812 3.01291 6.78842 2.43036 5.49254C2.29925 5.2007 2.39517 5.04454 2.71714 5.03849C3.25205 5.02817 3.78697 5.02948 4.32188 5.03799C4.53958 5.04143 4.68362 5.166 4.76726 5.37142C5.05633 6.08262 5.4107 6.75928 5.85477 7.38684C5.97311 7.55396 6.09391 7.72059 6.26594 7.83861C6.45582 7.9689 6.60051 7.92585 6.69005 7.71388C6.74734 7.57917 6.77205 7.43513 6.78449 7.29076C6.82705 6.79628 6.83212 6.30195 6.75847 5.80943C6.71263 5.50122 6.53929 5.30218 6.23206 5.24391C6.07558 5.21428 6.0985 5.15634 6.17461 5.06697C6.3067 4.91245 6.43045 4.81686 6.67777 4.81686L8.52951 4.81653C8.82136 4.87382 8.88683 5.00477 8.92645 5.29874L8.92808 7.35656C8.92464 7.47032 8.98521 7.80751 9.18948 7.88198C9.35317 7.936 9.4612 7.80473 9.55908 7.70112C10.0032 7.22987 10.3195 6.67368 10.6029 6.09801C10.7279 5.84413 10.8358 5.58142 10.9406 5.31822C11.0185 5.1236 11.1396 5.02785 11.3593 5.03112L13.1424 5.03325C13.195 5.03325 13.2483 5.03374 13.3004 5.04274C13.6009 5.09414 13.6832 5.22345 13.5903 5.5166C13.4439 5.97721 13.1596 6.36088 12.8817 6.74553C12.5838 7.15736 12.2661 7.55478 11.9711 7.96841C11.7001 8.34652 11.7215 8.53688 12.058 8.86523Z' fill='%239873FF'/%3e%3c/g%3e%3c/svg%3e");
}

.other_ico {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath opacity='0.7' fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM3 8C3 5.24 5.24 3 8 3C10.76 3 13 5.24 13 8C13 10.76 10.76 13 8 13C5.24 13 3 10.76 3 8ZM9.5 6C9.5 5.17 8.83 4.5 8 4.5C7.17 4.5 6.5 5.17 6.5 6C6.5 6.83 7.17 7.5 8 7.5C8.83 7.5 9.5 6.83 9.5 6ZM5 9.99C5.645 10.96 6.75 11.6 8 11.6C9.25 11.6 10.355 10.96 11 9.99C10.985 8.995 8.995 8.45 8 8.45C7 8.45 5.015 8.995 5 9.99Z' fill='%239873FF'/%3e%3c/svg%3e");

}

.other_ico:hover {
    margin-right: 7px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath opacity='1' fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM3 8C3 5.24 5.24 3 8 3C10.76 3 13 5.24 13 8C13 10.76 10.76 13 8 13C5.24 13 3 10.76 3 8ZM9.5 6C9.5 5.17 8.83 4.5 8 4.5C7.17 4.5 6.5 5.17 6.5 6C6.5 6.83 7.17 7.5 8 7.5C8.83 7.5 9.5 6.83 9.5 6ZM5 9.99C5.645 10.96 6.75 11.6 8 11.6C9.25 11.6 10.355 10.96 11 9.99C10.985 8.995 8.995 8.45 8 8.45C7 8.45 5.015 8.995 5 9.99Z' fill='%239873FF'/%3e%3c/svg%3e");
}


.hint {
    color: #FFFFFF;
}

input:required+.hint {
    color: #9873FF;
}

[info] {
    position: relative;
    width: 16px;
    height: 26px;
    margin-right: 7px;
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
}

[info]::before {
    text-align: center;
    width: 130px;
    content: attr(info);
    position: absolute;
    top: -42px;
    left: -56px;
    z-index: 1;
    text-overflow: ellipsis;
    color: #fff;
    padding: 7px 14px 11px 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='133' height='38' viewBox='0 0 133 38' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H133V31H69.7817L65.9012 37.276L61.9418 31H0V0Z' fill='%23333333'/%3E%3C/svg%3E");
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
    background-position-x: center;
}

[info]::after {
    content: "";
    display: table;
    clear: both;
}


:not([info=""]):hover::before {
    opacity: 1;
}



/* Положение подсказки */
.main_head {
    justify-content: space-between;
    margin-bottom: 8px;
}

.invisible_ico {
    display: none;
}


.extended_ico {
    text-align: center;
    cursor: pointer;
    width: 16px;
    height: 26px;
    margin-right: 7px;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    color: #9873FF;
    line-height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3ccircle cx='8' cy='8' r='7.5' stroke='%239873FF'/%3e%3c/svg%3e");
}

#btn_add {
    padding: 12.5px 26.5px 12.5px 26.5px;
    border: 1px solid #9873FF;
    color: #9873FF;
    cursor: pointer;
    font-weight: 600;
}

#btn_save,
#btn_resave,
#btn_delete_customer,
#btn_close_info {
    padding: 12.5px 26.5px 12.5px 26.5px;
    border: 1px solid #9873FF;
    color: white;
    cursor: pointer;
    font-weight: 600;
    background: #9873FF;
}

#modal_name_del {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

#modal_name_edit {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #333;
}

#modal_name_id {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #B0B0B0;
    margin-left: 9px;
}


.close_bottom {
    text-decoration-line: underline !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
    cursor: pointer;
}

.modal_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-bordered td,
.table-bordered th {
    border: none;
    border-bottom: 1px solid #dee2e6;
}


#btn_add::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='23' height='16' viewBox='0 0 23 16' fill='none'%3e%3cpath d='M14.5 8C16.71 8 18.5 6.21 18.5 4C18.5 1.79 16.71 0 14.5 0C12.29 0 10.5 1.79 10.5 4C10.5 6.21 12.29 8 14.5 8ZM5.5 6V3H3.5V6H0.5V8H3.5V11H5.5V8H8.5V6H5.5ZM14.5 10C11.83 10 6.5 11.34 6.5 14V16H22.5V14C22.5 11.34 17.17 10 14.5 10Z' fill='%239873FF'/%3e%3c/svg%3e");
    width: 23px;
    height: 20px;
    margin-right: 10px;
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
}


#main_add_div {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

thead {
    color: #B0B0B0;
}

.table-bordered {
    border: none;
}

.table thead th {
    vertical-align: baseline;
    border: none;
}

.visible {
    display: block !important;
    transition: width 2s linear 1s;
}



.wrap {
    margin-bottom: 10px;
}


.fa {
    font-family: 'Font Awesome 5 Free';
}

.footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.fa_sort {
    color: gray;
}

#main_add_form,
#main_edit_form,
#main_remove_form,
#main_info_form {

    padding: 15px 15px 29px 30px;
}



/* Модальный (фон) */
.modal {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    /* Оставаться на месте */
    z-index: 1;
    /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%;
    /* Полная ширина */
    height: 100%;
    /* Полная высота */
    overflow: auto;
    /* Включите прокрутку, если это необходимо */
    background-color: rgb(0, 0, 0);
    /* Цвет запасной вариант */
    background-color: rgba(0, 0, 0, 0.4);
    /* Черный с непрозрачностью */
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
}

/* Модальное содержание/коробка */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% сверху и по центру */

    border: 1px solid #888;
    width: 450px;
    /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Кнопка закрытия */
.close {
    font-size: 0;
    color: #aaa;
    float: right;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity: 1 !important;
    transition: 0.1s;
}

#form_filter {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}


#modal_name,
#info_header {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.modal_header {
    margin-top: 9px;
    margin-bottom: 32px;
}

#modal_add_contacts {
    display: none;
}

#modal_btn_contact {
    text-align: center;
    background: rgba(201, 198, 210, 0.3);
    padding-top: 8px;
    padding-bottom: 8px;
}

#btn_add_contact_add,
#btn_add_contact_edit {
    cursor: pointer;

}

.input-name {
    position: relative;
    display: inline-grid;
    overflow: hidden;
}

.input-name>input[type=text] {
    border: none;
    border-bottom: 2px solid #C8C5D1;
    outline: none;
}



.input-name>input[type=text]:focus+.underline-animation {
    left: 0;
}


.del_cont {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='27' height='37' viewBox='0 0 27 37' fill='none'%3e%3crect x='0.5' y='0.5' width='26' height='36' fill='%23E7E5EB' stroke='%23C8C5D1'/%3e%3cg clip-path='url(%23clip0_224_6679)'%3e%3cpath d='M14 13C10.682 13 8 15.682 8 19C8 22.318 10.682 25 14 25C17.318 25 20 22.318 20 19C20 15.682 17.318 13 14 13ZM14 23.8C11.354 23.8 9.2 21.646 9.2 19C9.2 16.354 11.354 14.2 14 14.2C16.646 14.2 18.8 16.354 18.8 19C18.8 21.646 16.646 23.8 14 23.8ZM16.154 16L14 18.154L11.846 16L11 16.846L13.154 19L11 21.154L11.846 22L14 19.846L16.154 22L17 21.154L14.846 19L17 16.846L16.154 16Z' fill='%23B0B0B0'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_224_6679'%3e%3crect width='16' height='16' fill='white' transform='translate(6 11)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    width: 27px;
    height: 37px;
    padding: 0 !important;
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    border: 1px solid #C8C5D1;
    background-position: center;
    outline: none;
    margin-bottom: 3px;

}

.div_contact {
    margin-bottom: 15px;
}

.div_contact:first-child {
    margin-top: 17px;
}

.div_contact:last-child {
    margin-bottom: 25px;
}


.contacts_select {
    background: rgba(200, 197, 209, 0.2);

    border: 1px solid #C8C5D1;
    border-right: none;
    outline: none;
    height: 37px;
    padding-left: 12px;
    width: 229px;
}

.contacts_type {
    background: #E7E5EB;
    height: 37px;
    width: 111px;
    border: 1px solid #C8C5D1;
    appearance: none;
    overflow: hidden;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3e%3cpath d='M0.495029 0.690033C0.250029 0.935033 0.250029 1.33003 0.495029 1.57503L4.65003 5.73003C4.84503 5.92503 5.16003 5.92503 5.35503 5.73003L9.51003 1.57503C9.75503 1.33003 9.75503 0.935032 9.51003 0.690033C9.26503 0.445032 8.87003 0.445032 8.62503 0.690033L5.00003 4.31003L1.37503 0.685034C1.13503 0.445034 0.735029 0.445033 0.495029 0.690033Z' fill='%239873FF'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position-y: 16px;
    background-position-x: 92px;
    padding-left: 12px;
}


.contacts_type:focus-within {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3e%3cpath d='M9.50497 5.30997C9.74997 5.06497 9.74997 4.66997 9.50497 4.42497L5.34997 0.269968C5.15497 0.0749681 4.83997 0.0749681 4.64497 0.269968L0.48997 4.42497C0.24497 4.66997 0.24497 5.06497 0.48997 5.30997C0.73497 5.55497 1.12997 5.55497 1.37497 5.30997L4.99997 1.68997L8.62497 5.31497C8.86497 5.55497 9.26497 5.55497 9.50497 5.30997Z' fill='%239873FF'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position-y: 16px;
    background-position-x: 92px;
}

input::-webkit-input-placeholder {
    color: #B0B0B0 !important;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}


.spinner {
    height: 300px;
    background-color: white;
    display: grid;
    align-items: center;
}

#spinner {

    animation: rotate 2s linear infinite;

    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    left: 50%;
    top: 50%;
}

#try_connect {
    text-align: center;
    color: #9873FF;
}

.path {

    stroke: #9873FF;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}